/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --decoration-color: #db00ff;
  --hover-color: #ff007066;
  --title-color: #000028;
  background-image: url("../images/cover-image-dark.png");
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url("../images/cover-image-dark.png");
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --bg-color: #000028;
    --decoration-color: #db00ff;
    --hover-color: #ff007066;
    --title-color: #000028;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--accent-color);
  }

  .header__lamp {
    visibility: visible;
  }

  .main__title {
    color: var(--accent-color);
  }

  .header__theme-menu-button {
    color: var(--accent-color)
  } 
  
  .header__theme-menu-button:focus-visible {
    border-color: var(--accent-color);
  }
  
  .header__theme-menu-button_active {
    border-color: var(--accent-color);
  }
}

.theme_dark .decorated-zone::before,
.theme_dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.theme_dark .header__lamp {
  visibility: visible;
}

.theme_dark .main__title {
  color: var(--accent-color)
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color)
} 

.theme_dark .header__theme-menu-button:focus-visible {
  border-color: var(--accent-color);
}

.theme_dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
}