/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --text-size: 18px;
  --bg-color: #f5f5f5;
  --decoration-color: #ffc2e6;
  --hover-color: #ff007066;
  --title-color: #353430;
  background-image: url("../images/cover-image-light.png");
}
