/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --text-size: 18px;
  --bg-color: #f5f5f5;
  --decoration-color: #ffc2e6;
  --hover-color: #ff007066;
  --title-color: #353430;
  background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  .page {
    background-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --text-size: 18px;
    --bg-color: #f5f5f5;
    --decoration-color: #ffc2e6;
    --hover-color: #ff007066;
    --title-color: #353430;
  }
  .main__title {
    color: var(--text-color);
  }
}

.theme_light .main__title {
  color: var(--text-color)
}