:root {
  --text-color: #f1b2ce; 
  --accent-color: #ff0070;
  --text-size: 18px;
  --bg-color: #000028;
  --decoration-color: #db00ff;
  --hover-color: #ff007066;
  --title-color: #000028;
  --title-weight: 700;
}